Source: plymouth-theme-sugos
Section: admin
Priority: optional
Maintainer: Reza Zulkarnain (SUGOS) <sugosdeveloper@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/SUGOS-GNU-Linux/plymouth-theme-sugos
Vcs-Browser: https://github.com/SUGOS-GNU-Linux/plymouth-theme-sugos.git

Package: plymouth-theme-sugos
Architecture: all
Depends: 
Description: Paket Bawaan Theme Plymouth.
 Paket Bawaan Theme Plymouth untuk SUGOS Linux
 Berisi Splash Boot Logo and Text Themes.
